/*
Charcoal: #233D4D
Orange: #FE7F2D
Yellowish: #FCCA46
Light gren: #A1C181
teal: #619B8A


*/

.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
}

.navbar-container {
  background: #619b8a;
  padding: 10px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  margin: auto 30px;
}

nav ul {
  display: flex;
}

nav ul button {
  display: none;
}
nav ul li {
  list-style: none;
  margin: 10px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  transition: 0.2s all ease-in-out;
}

nav ul li a:active,
nav ul li a:hover {
  background: #233d4d;
}

.navbar-auth-links ul {
  display: flex;
}

.navbar-auth-links ul li {
  list-style: none;
  padding: 4px;
}

.navbar-auth-links ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  background: #233d4d;

  color: white;
}
.navbar-auth-links ul li a:hover {
  background: #34586e;
}

@media screen and (min-width: 740px) {
  .navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
  }

  .navbar-container {
    background: #619b8a;
    padding: 10px;
    height: 7vh;
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo img {
    margin: auto 30px;
  }

  nav ul {
    display: flex;
  }

  nav ul button {
    display: none;
  }
  nav ul li {
    list-style: none;
    margin: 10px;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
  }

  nav ul li a:active,
  nav ul li a:hover {
    background: #233d4d;
  }

  .navbar-auth-links ul {
    display: flex;
  }

  .navbar-auth-links ul li {
    list-style: none;
    padding: 4px;
  }

  .navbar-auth-links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    background: #233d4d;

    color: white;
  }
  .navbar-auth-links ul li a:hover {
    background: #34586e;
  }
}

/*--------------Phone Screen------------------*/

@media screen and (max-width: 740px) {
  .navbar {
  }

  .navbar-container {
  }

  .navbar-logo img {
  }

  nav ul {
  }

  nav ul button {
  }
  nav ul li {
  }

  nav ul li a {
  }

  nav ul li a:active,
  nav ul li a:hover {
  }

  .navbar-auth-links ul {
  }

  .navbar-auth-links ul li {
  }

  .navbar-auth-links ul li a {
  }
  .navbar-sidepanel {
    display: none;
  }
}

/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  /* Styles for small screens */

  /* Other styles for small screens */
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for medium screens */
}

/* Large screens (laptops) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Styles for large screens */
}

/* Extra large screens (large desktops) */
@media only screen and (min-width: 1201px) {
  /* Styles for extra large screens */
  .navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
  }

  .navbar-container {
    background: #619b8a;
    padding: 10px;
    height: 7vh;
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo img {
    margin: auto 30px;
  }

  nav ul {
    display: flex;
  }

  nav ul button {
    display: none;
  }
  nav ul li {
    list-style: none;
    margin: 10px;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
  }

  nav ul li a:active,
  nav ul li a:hover {
    background: #233d4d;
  }

  .navbar-auth-links ul {
    display: flex;
  }

  .navbar-auth-links ul li {
    list-style: none;
    padding: 4px;
  }

  .navbar-auth-links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    background: #233d4d;

    color: white;
  }
  .navbar-auth-links ul li a:hover {
    background: #34586e;
  }
}
