/*
Charcoal: #233D4D
Orange: #FE7F2D
Yellowish: #FCCA46
Light gren: #A1C181
teal: #619B8A
*/
@media (min-width: 1200px) {
  .cartcard {
    margin: 0px;
    padding: 10px;
    width: 100%;
  }
  .cartcard-container {
    background: rgba(251, 254, 255, 0.183);
    border-radius: 10px;
    box-shadow: 2px 1px 5px black;
    display: flex;
    padding: 10px;
  }
  .card-details {
    width: 70%;
  }
  .cartcard-details {
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 10px 0px 0px;
    box-shadow: 1px 1px 10px black;
  }

  .cartcard-details-data {
    justify-content: space-between;
    display: flex;
    height: 100px;
  }

  .cartcard-details-data img {
    width: 10%;
    padding: 10px;
  }
  .cartcard-details-productdetails {
    padding: 2px 0px 0px 5px;
    width: 60%;
  }
  .cartcard-details-productdetails h3 {
    margin: 0px 0px 2px 0px;
  }
  .cartcard-details-productdetails h5 {
    margin: 0px 0px 6px 0px;
  }
  .cartcard-details-Price {
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
  }
  .cartcard-delete-add-btns {
    display: flex;
    justify-content: space-between;
  }
  .cartcard-delete-item button {
    padding: 5px;
    margin: 10px;
    width: 120px;
    background: #233d4d;
    color: white;
    border-radius: 5px;
    border: none;
  }

  .cartcard-delete-item button:hover {
    background: #375f78;
  }
  .cartcard-increment-item {
    padding: 5px 15px 10px 5px;
  }
  .cartcard-increment-item button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 4px auto;
    background: #233d4d;
    color: white;
    font-size: 20px;
  }

  .cartcard-increment-item button:hover {
    background: #375f78;
  }
  .cartcard-increment-item input {
    height: 40px;
    width: 60px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large screens */
  .cartcard {
    margin: 0px;
    padding: 10px;
    width: 100%;
  }
  .cartcard-container {
    border: none;
    border-radius: 10px;

    display: flex;
    padding: 1px;
  }
  .card-details {
    width: 70%;
  }
  .cartcard-details {
    background: rebeccapurple;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 10px 0px 0px;
    box-shadow: 1px 1px 10px black;
  }
  .cartcard-details-title {
    background: green;
  }
  .cartcard-details-data {
    background: greenyellow;
    justify-content: space-between;
    display: flex;
    height: 100px;
  }

  .cartcard-details-data img {
    background: peru;
    width: 10%;
  }
  .cartcard-details-productdetails {
    background: pink;
    padding: 2px 0px 0px 5px;
    width: 60%;
  }
  .cartcard-details-productdetails h3 {
    margin: 0px 0px 2px 0px;
  }
  .cartcard-details-productdetails h5 {
    margin: 0px 0px 6px 0px;
  }
  .cartcard-details-Price {
    background: lightgreen;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
  }
  .cartcard-delete-add-btns {
    background: red;
    display: flex;
    justify-content: space-between;
  }
  .cartcard-delete-item button {
    padding: 5px;
    margin: 10px;
    width: 120px;
  }
  .cartcard-increment-item {
    padding: 5px;
  }
  .cartcard-increment-item button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 4px auto;
  }
  .cartcard-increment-item input {
    height: 40px;
    width: 60px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens */
  .cartcard {
    margin: 0px;
    padding: 10px;
    background: aqua;
    width: 100%;
  }
  .cartcard-container {
    background: lightblue;
    display: flex;
    padding: 1px;
  }
  .card-details {
    width: 70%;
  }
  .cartcard-details {
    background: rebeccapurple;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 10px 0px 0px;
    box-shadow: 1px 1px 10px black;
  }
  .cartcard-details-title {
    background: green;
  }
  .cartcard-details-data {
    background: greenyellow;
    justify-content: space-between;
    display: flex;
    height: 100px;
  }

  .cartcard-details-data img {
    background: peru;
    width: 10%;
  }
  .cartcard-details-productdetails {
    background: pink;
    padding: 2px 0px 0px 5px;
    width: 60%;
  }
  .cartcard-details-productdetails h3 {
    margin: 0px 0px 2px 0px;
  }
  .cartcard-details-productdetails h5 {
    margin: 0px 0px 6px 0px;
  }
  .cartcard-details-Price {
    background: lightgreen;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
  }
  .cartcard-delete-add-btns {
    background: red;
    display: flex;
    justify-content: space-between;
  }
  .cartcard-delete-item button {
    padding: 5px;
    margin: 10px;
    width: 120px;
  }
  .cartcard-increment-item {
    padding: 5px;
  }
  .cartcard-increment-item button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 4px auto;
  }
  .cartcard-increment-item input {
    height: 40px;
    width: 60px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
  }
}
@media (max-width: 767px) {
  /* Styles for small screens */
  .cartcard {
    margin: 0px;
    padding: 10px;
    background: aqua;
    width: 100%;
  }
  .cartcard-container {
    background: lightblue;
    display: flex;
    padding: 1px;
  }
  .card-details {
    width: 70%;
  }
  .cartcard-details {
    background: rebeccapurple;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 10px 0px 0px;
    box-shadow: 1px 1px 10px black;
  }
  .cartcard-details-title {
    background: green;
  }
  .cartcard-details-data {
    background: greenyellow;
    justify-content: space-between;
    display: flex;
    height: 100px;
  }

  .cartcard-details-data img {
    background: peru;
    width: 10%;
  }
  .cartcard-details-productdetails {
    background: pink;
    padding: 2px 0px 0px 5px;
    width: 60%;
  }
  .cartcard-details-productdetails h3 {
    margin: 0px 0px 2px 0px;
  }
  .cartcard-details-productdetails h5 {
    margin: 0px 0px 6px 0px;
  }
  .cartcard-details-Price {
    background: lightgreen;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
  }
  .cartcard-delete-add-btns {
    background: red;
    display: flex;
    justify-content: space-between;
  }
  .cartcard-delete-item button {
    padding: 5px;
    margin: 10px;
    width: 120px;
  }
  .cartcard-increment-item {
    padding: 5px;
  }
  .cartcard-increment-item button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 4px auto;
  }
  .cartcard-increment-item input {
    height: 40px;
    width: 60px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
  }
}
