/*
Charcoal: #233D4D
Orange: #FE7F2D
Yellowish: #FCCA46
Light gren: #A1C181
teal: #619B8A
*/

@media (min-width: 1200px) {
  /* Styles for extra large screens */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large screens */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens */
}

@media (max-width: 767px) {
  /* Styles for small screens */
}
